body {
	background:url("../images/3634017204_027734e9d2_o.jpg") no-repeat;
    background-size: cover;	
}
h1 {
	text-align: center;
	font-family:"Candal";
	font-size: 100px;
	font-weight: bold;
	font-color:rgb(50,50,50);
}
slogan {
	text-align: right;
	font-family: "Candal";
	font-size: 70px;
	font-style: italic;
	color rgb(255,0,0);
}
p {
	font-family:"Candal";
	font-size: 30px;
	color: rgb(51,48,255);
} 
ul { 
	font-family:"Candal";
	font-size: 20px;
	color: rgb(255,0,0);
}
footer {
	font-family:"Candal";
	font-size: 35px;
	color: rgb(255,235,44);
	text-align: right;
}





